<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Список задач</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">Список задач:</div>
                <div class="form">
                    <input type="text" v-bind:placeholder="placeholder" v-bind:value="valueInput" v-on:input="newInput" v-on:keypress.enter="addTask">
                    <button class="btn" v-on:click="addTask">добавить</button>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>
                <span>Список задач: </span>
                <span class="mask-num">{{tasks.length}}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(task, index) in tasks":key = task.id>
                    <div class="inside">
                        <input type="checkbox" v-on:change="doCheck (index, 'need')">
                        <span>{{task.title}}</span>
                        <button class="btn-remove" v-on:click="removeTask(index, 'need')">удалить</button>
                    </div>
                </li>
            </ul>

            <h2>
                <span>Архив задач: </span>
                <span class="mask-num">{{deletedTasks.length}}</span>
            </h2>
            <ul class="mask-list complete-list">
                <li v-for="(task, index) in deletedTasks" :key = task.id>
                    <div class="inside">
                        <input type="checkbox" v-on:change="doCheck (index, 'complete')" checked>
                        <span>{{task.title}}</span>
                        <button class="btn-remove" v-on:click="removeTask(index, 'complete')">удалить</button>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>

</body>
</html>