<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h4>Изменение класса при вводе</h4>
        <span @mouseover="changeText">Text</span>
        <p>{{title}}</p>
        <p :class="styleCSS">Color: {{styleCSS}}</p>
        <input type="text" v-on:input="styleCSS = $event.target.value" placeholder="Введите цвет">

        <hr>
        <h4>Удвоить число</h4>
        <input type="text" v-on:input="increment($event.target.value)" placeholder="введите число">
        <p>Ваше число: {{value}}</p>
        <p>Удвоенное число: {{doubleValue}}</p>

        <hr>
        <h4>Исчезающий текст</h4>
        <button @click="show = !show">Скрыть / Показать</button>
        <p v-if="show">Исчезающий текст</p>
        <p v-else>Альтернативный текст</p>

        <hr>
        <h4>Генерация списокв</h4>
        <ul>
            <li v-for="(car, index) in cars">{{index + 1}}. {{car.model}}, скорость: {{car.speed}}</li>
        </ul>

        <hr>
        <h4>Фильтры</h4>
        <button @click="change = !change">Скрыть / Показать</button>
        <p v-if="change">Исчезающий текст</p>
        <p v-else>{{ hiddenMessage }}</p>

        <hr>
        <h4>Компоненты</h4>
        <div id="components-demo">
            <button-counter></button-counter>
        </div>
        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>