.grey{
    background: grey;
}

.yellow{
    background: yellow;
}

.pink{
    background: pink;
}

.blue{
    background: blue;
}

body{
    margin-left: 250px;
    width: 800px;
    margin-top: 15px;
    margin-bottom: 25px;
}

button{
    background: rgb(129, 195, 129);
    width: 150px;
    height: 25px;
    cursor: pointer;
    border: transparent;
}

button:hover{
    border: 1px solid green;
}

input{
    border: transparent;
    outline: none;
    width: 450px;
    height: 25px;
}

.car{
    width: 30%;
    margin: 10 px 31%;
    background: #fafafa;
    border:  2px solid silver;
    border-radius: 10px;
    padding: 1.2% 2%;
    color: #474747;
    font-size: 1.1em;
}