body{
    background: #004D40;
    text-align:center;
    padding: 50px 0;
}

.timer {
    font-size: 20px;
    color: #fff;
    text-align:center;
    margin-top: 50px;
}

.day, 
.hour, 
.min, 
.sec {
    font-size: 27px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    margin: 10px 5px;

}

.format {
    font-weight: 300;
    font-size: 18px;
    opacity: 0.8;
    width: 60px;
    text-align: center;
}

.number{
    background: rgba(51, 51, 51, 0.53);
    padding: 0 5px;
    border-radius: 5px;
    display: inline-block;
    width: 60px;
    text-align: center;
}

.message {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.status-tag{
    width: 270px;
    margin: 10px auto;
    padding: 8px 0;
    font-weight: 500;
    color: #000;
    text-align: center;
    border-radius: 15px;
}

.status-tag.upcoming{
    background-color: lightGreen;
}

.status-tag.running{
    background-color: gold;
}

.status-tag.expired{
    background-color: silver;
}